# ========================
# DATABASE (PostgreSQL + PostGIS)
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=petradar

# ========================
# MAIL (SMTP)
# ========================
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_user_here
MAIL_PASS=your_password_here
MAIL_FROM=petradar@noreply.com

# ========================
# MAPBOX
# ========================
MAPBOX_TOKEN=pk.your_mapbox_token_here
